*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
}

h1 {
  font-family: 'Amatic SC', cursive;
}

.card-image img {
  width: 285px;
  height: 190px;
}

#goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#category {
  margin-bottom: 5px;
}

.card {
  width: 20%;
  padding: 5px;
  margin: 5px;
}

.brand-logo i {
  padding-left: 10px;
}

#root-search {
  width: 30%;
}
