<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button
      class="uk-modal-close-full uk-close-large"
      type="button"
      uk-close
    ></button>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
      <div
        class="uk-background-cover"
        style="background-image: url('/data/img/squirel.jpg');"
        uk-height-viewport
      ></div>
      <div class="uk-padding-large history-wrap">
        <h1>Purchase history</h1>
        <div class="uk-overflow-auto">
          <table
            class="uk-table uk-table-hover uk-table-middle uk-table-divider"
          >
            <tbody id="historyList"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
