<div>
  <button
    class="uk-button uk-button-default uk-button-small uk-margin-small-left"
    data-btn="up"
    uk-icon="icon: arrow-up"
  >
    price increase
  </button>
  <button
    class="uk-button uk-button-default uk-button-small"
    uk-icon="icon: arrow-down"
    data-btn="down"
  >
    price decrease
  </button>
  <button
    class="uk-button uk-button-default uk-button-small"
    data-btn="quantity"
  >
    quantity switching
  </button>
  <button
    class="uk-button uk-button-default uk-button-small uk-button-primary updateStock"
  >
    Update product availability
  </button>
  <div
    id="checkbox"
    class="uk-margin-left uk-grid-small uk-child-width-auto uk-grid"
  ></div>
</div>
